{% extends "base.html" %}

{% block content %}
    <h1>Log In</h1>
    <hr>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control form-control-lg") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control form-control-lg") }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-check mb-3">
            {{ form.remember_me(class="form-check-input") }}
            {{ form.remember_me.label(class="form-check-label") }}
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <hr>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
{% endblock %}
